$vs--color-background: #ffffff;
$vs--color-list-hover: #e7effb;
$vs--color-text-primary: #333333;
$vs--color-text-secondary: #666666;
$vs--color-text-long: #6a7282;
$vs--color-text-button-primary: #2a549d;
$vs--color-button-receive: #32cba8;
$vs--color-button-send: #c53027;
$vs--color-primary: #F93976;
$vs--color-danger: #c53027;
$vs--color-desc: #999999;
$vs--color-active: #F93976;
// $vs--color-active: #c23631;
$vs--color-border: rgba(229,229,229,1);
